# Virtual environment
EnglishBellenv/
venv/

# Python
__pycache__/
*.pyc

# Database
db.sqlite3

# Static collected
staticfiles/

# Media (optional if large)
media/

# Environment
.env

# OS
.DS_Store
